body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.site-layout-content {
  min-height: calc(100vh - 112px);
  padding: 16px;
  max-width: 500px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}

.site-page-header {
  background: #fff;
  padding: 8px;
}

.page-header {
  background: #fff;
  padding: 8px;
}
